# Created by .ignore support plugin (hsz.mobi)
.idea/
apts.json
habs.json
/dominios.json
/dts.json
/temp.py
/escuelas.json
/armas.json
/armds.json
/__pycache__
/globales/__pycache__/*.pyc
/rasgos/__pycache__/*.pyc
